<h1 mat-dialog-title class="dialog-form-header" style="display: flex; align-items: center;">
  <div>Session Information</div>
  <span style="flex: 1 1 auto;"></span>
</h1>
<div mat-dialog-content>
  
  <mat-card class="resource-card">
    <mat-card-header>
      <mat-card-title>Auth Token</mat-card-title>
      @if (currentToken) {
        <button mat-icon-button matTooltip="Copy auth token to clipboard" (click)="copyToken()">
          <mat-icon>content_copy</mat-icon>
        </button>
      }
    </mat-card-header>
    <mat-card-content>
      @if (currentToken) {
        <div class="auth-token">{{ currentToken }}</div>
      } 
      @else {
        <div class="auth-token">No token available</div>
      }
    </mat-card-content>
  </mat-card>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
</div>