# Set to 0 to disable TLS certificate validation during HTTP requests (such as requests to the FHIR or auth servers)
# Only recommended for development and testing
NODE_TLS_REJECT_UNAUTHORIZED=0

# Secret used for session cookie signing and certificate password encryption.
# This can be generated with commands such as:
# openssl rand -base64 32
# or
# npx auth generate-secret
AUTH_SECRET="somegeneratedsecret"
