# Set to 0 to disable TLS certificate validation during HTTP requests (such as requests to the FHIR or auth servers)
# Only recommended for development and testing
NODE_TLS_REJECT_UNAUTHORIZED=0

# Secret used for session cookie signing and certificate password encryption.
# This can be generated with commands such as:
# openssl rand -base64 32
# or
# npx auth generate-secret
AUTH_SECRET="somegeneratedsecret"

# Environment setting for the Node application.  This impacts which configuration file is loaded.
NODE_ENV=development

# The URL of the default FHIR server to use.  This is the fallback FHIR base when no client is actively selected.
DEFAULT_FHIR_BASE_URL=http://localhost:8080/fhir

