<app-loading-indicator></app-loading-indicator>
<mat-toolbar color="primary">
  <button type="button"
    class="toggle-menu-btn"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="toggleMenuText()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="toolbar-divider">FAST Identity Matching</span>
  <span class="example-spacer"></span>
  <span class="toolbar-divider toolbar-divider-right">
    <app-current-settings></app-current-settings>
    <button mat-icon-button matTooltip="Session Info" (click)="showSessionDialog($event)">
      <mat-icon>info</mat-icon>
    </button>
    <app-user-profile></app-user-profile>
  </span>
  <!-- <span class="toolbar-divider">
  <app-auth-bypass></app-auth-bypass>
</span> -->
<!-- <span class="user-profile toolbar-divider">
<button mat-icon-button [matMenuTriggerFor]="userProfileMenu" aria-label="Access user profile options">
  <mat-icon class="profile-icon">account_circle</mat-icon>
</button>
<mat-menu #userProfileMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
<span class="profile-name">
  {{ userProfile?.firstName }} {{ userProfile?.lastName}}
</span>
</span> -->

</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer mode="side" [opened]="true" [class.collapsed]="!showMenuText">
    <mat-nav-list>
      <a mat-list-item routerLink="" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">dashboard</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Dashboard</div>
        }
      </a>

      <a mat-list-item routerLink="patient-list" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">personal_injury</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Patient</div>
        }
      </a>
      <a mat-list-item routerLink="patient-match" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">person_search</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Patient Match</div>
        }
      </a>

      @if (showMenuText) {
        <mat-divider></mat-divider>
        <h3 mat-subheader>Resource</h3>
      }
      
      <a mat-list-item routerLink="view-resource" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">search</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>View Resource</div>
        }
      </a>
      <a mat-list-item routerLink="create-resource" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">add</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Create Resource</div>
        }
      </a>
      <a mat-list-item routerLink="update-resource" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">edit</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Update Resource</div>
        }
      </a>
      <a mat-list-item routerLink="delete-resource" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">delete_outline</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Delete Resource</div>
        }
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="capability-statement" routerLinkActive="active">
        <mat-icon matListItemIcon [ngClass]="{'close-menu-icon' : !showMenuText}">description</mat-icon>
        @if (showMenuText) {
          <div class="side-nav-menu-title" matListItemTitle>Capability Statement</div>
        }
      </a>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <!-- Add Content Here  format_color_fill -->
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
