
table {
  width: 100%;
  margin-top: 1em;
}

.mat-mdc-form-field {
  width: 100%;
  margin: 0.5em 0;
}

.mat-column-actions {
  width: 10.0em;
  text-align: center;
}

.mat-mdc-no-data-row .mat-cell {
  padding: 2.0em;
}