<div class="content">
  <mat-toolbar class="page-header-bar" color="primary">
    <span>Delete Resources</span>
  </mat-toolbar>

  <div class="resource-container">
    <div class="resource-form-grid">
      <form [formGroup]="resourceForm">

        <mat-form-field class="form-select" appearance="outline" class="resource-input">
          <mat-label>Resource Type</mat-label>
          <mat-select formControlName="resourceType">
            <mat-option>None</mat-option>
            @for (type of resourceTypes; track type) {
              <mat-option [value]="type">
                {{type}}
              </mat-option>
            }
          </mat-select>
          @if (resourceTypeControl.hasError('required')) {
            <mat-error>
              Resource Type is <strong>required</strong>
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-input" class="resource-input">
          <mat-label>Id</mat-label>
          <input matInput formControlName="id">
          @if (resourceIdControl.hasError('required')) {
            <mat-error>
              Resource Id is <strong>required</strong>
            </mat-error>
          }
        </mat-form-field>
      </form>
      <button mat-raised-button color="primary" [disabled]="resourceForm.invalid" (click)="deleteResource()">
        <mat-icon>delete_outline</mat-icon>
        Delete {{resourceTypeControl.value}}
      </button>
    </div>
  </div>

</div>

