<div class="content">
  <mat-toolbar class="page-header-bar" color="primary">
    <span>Identity Matching Dashboard</span>
  </mat-toolbar>

  <mat-grid-list cols="4">

    <mat-grid-tile colspan="4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>FHIR Server Status</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          @if (serverStatuses && serverStatuses.length > 0) {
            <mat-nav-list>
              @for (serverStatus of serverStatuses; track serverStatus) {
                <mat-list-item>
                  @if (serverStatus.status === 'pending') {
                    <mat-icon matListItemIcon color="info" matTooltip="Attempting to retrieve capability statement">pending</mat-icon>
                  }
                  @if (serverStatus.status === 'offline') {
                    <mat-icon matListItemIcon color="warn" matTooltip="Cannot retrieve capability statement">error</mat-icon>
                  }
                  @if (serverStatus.status === 'online') {
                    <mat-icon matListItemIcon color="primary" matTooltip="Server is online">check_circle_outline</mat-icon>
                  }
                  <a matListItemTitle href="{{ serverStatus.url }}" target="_blank">
                    {{ serverStatus.url }}
                    <button mat-icon-button>
                      <mat-icon>open_in_new</mat-icon>
                    </button>
                  </a>
                </mat-list-item>
              }
            </mat-nav-list>
          }
          @else {
          <p>No FHIR server currently configured.</p>
        }

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

</div>